<p>--- Day 1: Trebuchet?! ---</p>

<a href="https://adventofcode.com/2023/day/1">Day 1 Link</a>

<p>The day 1 lines are:</p>

<p>
  @for (calibrationValue of part1LinesCal; track $index) {
    <span>{{calibrationValue}} - </span>
}
</p>

@if (part1finalSum !== 0) {
  <p>The sum is: {{ part1finalSum }}</p>
}

<p>The day 2 lines are:</p>

<p>
  @for (calibrationValue of part2LinesCal; track $index) {
    <span>{{calibrationValue}} - </span>
}
</p>

@if (part2finalSum !== 0) {
  <p>The sum is: {{ part2finalSum }}</p>
}
